<div class="product-card">
    <div class="gallery">
      <img [src]="product.imageUrls[0]" alt="{{ product.name }}">
    </div>
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>⭐ {{ product.rating }}</p>
    <p>❤️ {{ product.likes }}</p>
  
    <button (click)="likeProduct()">👍 Like</button>
    <a [href]="product.link" target="_blank" class="details-button">Подробнее</a>
    <div class="share-buttons">
        <button (click)="shareOnWhatsApp(product.link)">
          📱 Поделиться в WhatsApp
        </button>
        <button (click)="shareOnTelegram(product.link)">
          📩 Поделиться в Telegram
        </button>
      </div>
  </div>
  
